@page
@using Bastille.Id.Web.UI.Properties
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.SignedOutModel
@{
    ViewData["Title"] = Resources.SignedOutTitleText;
}

<h2>@ViewData["Title"]</h2>
<p>
    @Resources.SignedOutMessageText
</p>
